.login-img  {
  width: 85%;
  border-radius: 4%;
  margin-left: 0;
}

.cascading-right {
  margin-right: -50px;
}

.login-container {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
}


@media (max-width: 768px) {
  .cascading-right {
    margin-right: 0;
  }
}


@media only screen and (min-width: 768px) {

  .login-img  {
    width: 85%;
    border-radius: 4%;
    margin-left: -20%;
  }

}

@media only screen and (min-width: 1920px) {

  .login-img  {
    width: 100%;
    border-radius: 4%;
    margin-left: -20%;
  }

}
