<div class="text-container">
  <h2>Bienvenido Fulanito </h2>
  <p>El cuadrante de tareas de hoy es: </p>
</div>
<div class="card-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Médico con F.A.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tiene hongos en los pies
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>USMIA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A T.H Le gustan las pastillas, verdes blancas y amarillas
    </ion-card-content>
  </ion-card>
</div>

