
<div class="component-container">
  <div class="w-100 d-flex mb-2">
    <h2 class="main-title d-flex justify-content-center"> Gestión de usuarios  </h2>
  </div>

  <ul class="nav nav-tabs gradient" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="secondary-title nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"> Profesionales </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="secondary-title nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"> NNA </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <!-- Filtros -->
      <div class="panel-filters row">
        <mat-form-field class="full-width col-12 col-md-6 col-xl-3" appearance="fill">
          <mat-label> Nombre </mat-label>
          <input matInput (input)="nameFilterW($event)">
        </mat-form-field>
        <mat-form-field class="full-width col-12 col-md-6 col-xl-3"  appearance="fill">
          <mat-label> Nº de Teléfono </mat-label>
          <input matInput (input)="phoneFilterW($event)">
        </mat-form-field>
        <mat-form-field class="full-width col-12 col-md-6 col-xl-3" appearance="fill">
          <mat-label> Email </mat-label>
          <input matInput (input)="emailFilterW($event)">
        </mat-form-field>
        <mat-form-field class="full-width col-12 col-md-6 col-xl-3" appearance="fill">
          <mat-label> DNI </mat-label>
          <input matInput (input)="dniFilterW($event)">
        </mat-form-field>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="workerDataSource" class="table">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th class="py-2" *matHeaderCellDef> Nombre </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
              <span>
                {{element.userData.name +' '+ element.userData.surname}}
              </span>
            </td>
          </ng-container>

          <!-- Phone Column -->
          <ng-container matColumnDef="phone">
            <th class="py-2" mat-header-cell *matHeaderCellDef> Nº de Teléfono </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.userData.phone}} </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th class="py-2" mat-header-cell *matHeaderCellDef> Email </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <!-- Address Column -->
          <ng-container matColumnDef="address">
            <th class="py-2" mat-header-cell *matHeaderCellDef> Dirección </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
              <div class="d-flex flex-column">
                <span class="name-text m-0 p-0"> {{element.userData.address}} </span>
                <span class="name-text m-0 p-0"> {{element.userData.town}} </span>
                <span class="name-text m-0 p-0"> {{element.userData.province}} </span>
              </div>
            </td>
          </ng-container>

          <!-- DNI Column -->
          <ng-container matColumnDef="dni">
            <th class="py-2" mat-header-cell *matHeaderCellDef> DNI </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
              <div class="d-flex flex-column">
                <span class="name-text m-0 p-0"> {{element.userData.dni}}</span>
              </div>
            </td>
          </ng-container>

          <!-- Categoría profesional Column -->
          <ng-container matColumnDef="professional_category">
            <th class="py-2" mat-header-cell *matHeaderCellDef> Categoría profesional </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
              <ng-container *ngFor="let element of element.userProfessionalCategoryCentres">
                <div>
                  {{element.professionalCategory?.name}}
                </div>
              </ng-container>
            </td>
          </ng-container>

          <!-- Centro Column -->
          <ng-container matColumnDef="centre">
            <th class="py-2" mat-header-cell *matHeaderCellDef> Centro </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
              <ng-container *ngFor="let element of element.userProfessionalCategoryCentres">
                <div>
                  {{element.centre?.name}}
                </div>
              </ng-container>
            </td>
          </ng-container>

          <!-- Menu Column -->
          <ng-container matColumnDef="menu">
            <th class="py-2" mat-header-cell *matHeaderCellDef> </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell  *matCellDef="let element">
              <button class="workers-table-mat-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateUser(element.id)">
                  <span> Editar </span>
                </button>
                <button mat-menu-item (click)="resetPassword(element.id)">
                  <span> Resset password </span>
                </button>
                <button mat-menu-item (click)="deleteUser(element.id)">
                  <span> Eliminar </span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedWorkerColumns"></tr>
          <tr class="tr-body" mat-row *matRowDef="let row; columns: displayedWorkerColumns;"></tr>
        </table>
        <mat-paginator #wPaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[1, 10, 25, 100]" aria-label="Select worker page"></mat-paginator>
      </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <!-- Filtros -->
      <div class="panel-filters row">
        <mat-form-field class="full-width col-12 col-md-6 col-xl-3" appearance="fill">
          <mat-label> Nombre </mat-label>
          <input matInput (input)="nameFilterN($event)">
        </mat-form-field>
        <mat-form-field class="full-width col-12 col-md-6 col-xl-3"  appearance="fill">
          <mat-label> Nº de Expediente </mat-label>
          <input matInput (input)="expedientFilterN($event)">
        </mat-form-field>
        <mat-form-field class="full-width col-12 col-md-6 col-xl-3" appearance="fill">
          <mat-label> DNI </mat-label>
          <input matInput (input)="dniFilterN($event)">
        </mat-form-field>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="nnaDataSource" class="table">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th class="py-2" *matHeaderCellDef> Nombre </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
              <span>
                {{element.userData.name +' '+ element.userData.surname}}
              </span>
            </td>
          </ng-container>

          <!-- Birth date Column -->
          <ng-container matColumnDef="birthDate">
            <th class="py-2" mat-header-cell *matHeaderCellDef> F. Nacimiento </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{ element.userData?.birth_date | date: 'shortDate'}} </td>
          </ng-container>

          <!-- Admission date Column -->
          <ng-container matColumnDef="case_number">
            <th class="py-2" mat-header-cell *matHeaderCellDef> Nº Expediente </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.userData?.case_number }} </td>
          </ng-container>

          <!-- Custody type Column -->
          <ng-container matColumnDef="custodyType">
            <th class="py-2" mat-header-cell *matHeaderCellDef> Custodia </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
                <span class="name-text m-0 p-0"> {{element.userData.custody?.name}} </span>
            </td>
          </ng-container>

          <!-- DNI Column -->
          <ng-container matColumnDef="dni">
            <th class="py-2" mat-header-cell *matHeaderCellDef> DNI </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
              <div class="d-flex flex-column">
                <span class="name-text m-0 p-0"> {{element.userData.dni}}</span>
              </div>
            </td>
          </ng-container>

          <!-- Centro Column -->
          <ng-container matColumnDef="centre">
            <th class="py-2" mat-header-cell *matHeaderCellDef> Centro </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
              <ng-container *ngFor="let element of element.userProfessionalCategoryCentres">
                {{element.centre?.name}}
              </ng-container>
            </td>
          </ng-container>

          <!-- Menu Column -->
          <ng-container matColumnDef="menu">
            <th class="py-2" mat-header-cell *matHeaderCellDef> </th>
            <td class="align-middle py-2 my-4 px-2" mat-cell  *matCellDef="let element">
              <button class="workers-table-mat-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateUser(element.id)">
                  <span> Editar </span>
                </button>
                <button mat-menu-item (click)="resetPassword(element.email)">
                  <span> Resset password </span>
                </button>
                <button mat-menu-item (click)="deleteUser(element.id)">
                  <span> Eliminar </span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedNNAColumns"></tr>
          <tr class="tr-body" mat-row *matRowDef="let row; columns: displayedNNAColumns;"></tr>
        </table>
        <mat-paginator #nPaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[1, 10, 25, 100]" aria-label="Select nna page"></mat-paginator>
      </div>
    </div>
  </div>
</div>

