<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"> Profesionales </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"> NNA </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="workers-table mt-4">
      <table mat-table [dataSource]="dataSource" class="table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="py-2" *matHeaderCellDef> Name </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
            <span>
              {{element.userData.name +' '+ element.userData.surname}}
            </span>
          </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Phone no. </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.userData.phone}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Email </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Address </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
            <div class="d-flex flex-column">
              <span class="name-text m-0 p-0"> {{element.userData.address}} </span>
              <span class="name-text m-0 p-0"> {{element.userData.town}} </span>
              <span class="name-text m-0 p-0"> {{element.userData.province}} </span>
            </div>
          </td>
        </ng-container>

        <!-- DNI Column -->
        <ng-container matColumnDef="dni">
          <th class="d-none py-2" mat-header-cell *matHeaderCellDef> DNI </th>
          <td class="d-none align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
            <div class="d-flex flex-column">
              <span class="name-text m-0 p-0"> {{element.dni}}</span>
            </div>
          </td>
        </ng-container>

        <!-- Categoría profesional Column -->
        <ng-container matColumnDef="profesional_category">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Categoría profesional </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.profesional_category[0]?.name}} </td>
        </ng-container>

        <!-- Centro Column -->
        <ng-container matColumnDef="centre">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Centro </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.workplace[0]?.name}} </td>
        </ng-container>

        <!-- Menu Column -->
        <ng-container matColumnDef="menu">
          <th class="py-2" mat-header-cell *matHeaderCellDef> </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell  *matCellDef="let element">
            <button class="workers-table-mat-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="updateUser(element.id)">
                <span> Update </span>
              </button>
              <!-- <button mat-menu-item (click)="resetPassword(element.id)">
                <span> Resset password </span>
              </button> -->
              <button mat-menu-item (click)="deleteUser(element.id)">
                <span> Delete </span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="tr-body" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 25, 100]" aria-label="Select page"></mat-paginator>
    </div>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <div class="workers-table mt-4">
      <table mat-table [dataSource]="dataSource" class="table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="py-2" *matHeaderCellDef> Name </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
            <span>
              {{element.userData.name +' '+ element.userData.surname}}
            </span>
          </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Phone no. </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.userData.phone}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Email </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Address </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
            <div class="d-flex flex-column">
              <span class="name-text m-0 p-0"> {{element.userData.address}} </span>
              <span class="name-text m-0 p-0"> {{element.userData.town}} </span>
              <span class="name-text m-0 p-0"> {{element.userData.province}} </span>
            </div>
          </td>
        </ng-container>

        <!-- DNI Column -->
        <ng-container matColumnDef="dni">
          <th class="d-none py-2" mat-header-cell *matHeaderCellDef> DNI </th>
          <td class="d-none align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element">
            <div class="d-flex flex-column">
              <span class="name-text m-0 p-0"> {{element.dni}}</span>
            </div>
          </td>
        </ng-container>

        <!-- Categoría profesional Column -->
        <ng-container matColumnDef="profesional_category">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Categoría profesional </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.profesional_category[0]?.name}} </td>
        </ng-container>

        <!-- Centro Column -->
        <ng-container matColumnDef="centre">
          <th class="py-2" mat-header-cell *matHeaderCellDef> Centro </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell *matCellDef="let element"> {{element.workplace[0]?.name}} </td>
        </ng-container>

        <!-- Menu Column -->
        <ng-container matColumnDef="menu">
          <th class="py-2" mat-header-cell *matHeaderCellDef> </th>
          <td class="align-middle py-2 my-4 px-2" mat-cell  *matCellDef="let element">
            <button class="workers-table-mat-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="updateUser(element.id)">
                <span> Update </span>
              </button>
              <!-- <button mat-menu-item (click)="resetPassword(element.id)">
                <span> Resset password </span>
              </button> -->
              <button mat-menu-item (click)="deleteUser(element.id)">
                <span> Delete </span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="tr-body" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 25, 100]" aria-label="Select page"></mat-paginator>
    </div>
  </div>
</div>

