<div class="p-3">
  <div class="w-100 d-flex mb-2">
    <h2 class="main-title d-flex justify-content-center"> Editar pagas según rango de edad</h2>
  </div>

  <form [formGroup]="formGroup">
    <div class="row row-col-1 row-cols-md-2 row-cols-lg-3">
      <div class="form-group">
        <label> Edad </label>
        <input type="number" formControlName="age" class="form-control">
      </div>
      <div class="form-group">
        <label> Rango de edad </label>
        <input type="number" formControlName="age_min" class="form-control">
      </div>
      <div class="form-group">
        <label>  </label>
        <input type="number" formControlName="age_max" class="form-control">
      </div>
      <div class="form-group">
        <label> Paga máxima </label>
        <input type="number" formControlName="max_pay" class="form-control">
      </div>
      <div class="form-group">
        <label> Paga mínima </label>
        <input type="number" formControlName="min_pay" class="form-control">
      </div>
      <div class="form-group">
        <label> Incentivos </label>
        <input type="number" formControlName="incentive" class="form-control">
      </div>
    </div>
    <button type="button" class="btn-update-document mt-3" (click)="saveItem()">Guardar</button>
  </form>
</div>

