<ion-content>
  <header class="justify-content-center justify-content-md-between mx-3">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="header-img-logo link-body-emphasis">
        <img src="../../assets/logo/logo-fsyc.png" alt="lgo-fsys">
      </a>
    </div>
  </header>

    <div class="main-container">
      <div class="row g-0 align-items-center justify-content-center">
        <div class="col-md-5 mb-4 mb-lg-0">
          <!-- Login compoenent -->
          <app-login-component></app-login-component>
        </div>
        <div class="col-md-5 d-flex justify-content-center mb-4 mb-lg-0">
          <img src="../../assets/imgs/manos.jpg" class="login-img"
            alt="" />
        </div>
      </div>
    </div>

  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-1">
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">About</a></li>
    </ul>

    <ul class="nav rrss-container">
      <li class=""><a class="rrss-icon" href="https://www.twitter.com/fundsalcom"><i class="fa fa-twitter"></i></a></li>
      <li class=""><a class="rrss-icon" href="https://www.instagram.com/fundsalcom/"><i class="fa fa-instagram"></i></a></li>
      <li class=""><a class="rrss-icon" href="https://www.facebook.com/fundsalcom"><i class="fa fa-facebook"></i></a></li>
      <li class=""><a class="rrss-icon" href="https://www.linkedin.com/company/fundacion-salud-y-comunidad"><i class="fa fa-linkedin"></i></a></li>
      <li class=""><a class="rrss-icon" href="https://www.youtube.com/user/fsyc"><i class="fa fa-youtube"></i></a></li>
    </ul>
    <p class="copy-right">&copy; 2023 Fundación Salud y Comunidad </p>
  </footer>
</ion-content>
