.cascading-right {
  margin-right: -50px;
}

.login-container {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
}

.forgotten-password {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.forgotten-password a {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cascading-right {
    margin-right: 0;
  }
}



@media only screen and (max-width: 768px) {



}

@media only screen and (max-width: 576px) {



}
