  <div class="p-3 pb-0">
    <h2> Registro médico </h2>

    <form class="register-form" [formGroup]="myForm">
        <div class="w-25">
          <label for="type_consultation" class="form-title"> Tipo de consulta: </label>
          <input type="text" id="type_consultation" formControlName="type_consultation"
          [ngClass]="{'input-error': myForm.get('type_consultation')?.invalid && myForm.get('type_consultation')?.touched && registerSubmitted}">
        </div>

        <div class="w-25">

          <label for="consultation_date" class="form-title"> Fecha y hora de la consulta: </label>
          <input type="datetime-local" id="consultation_date" formControlName="consultation_date"
          [ngClass]="{'input-error': myForm.get('consultation_date')?.invalid && registerSubmitted}">
        </div>

        <div>
          <label for="what_happens" class="form-title">¿Qué sucede?:</label>
        <div class="w-100"></div>
          <textarea id="what_happens" formControlName="what_happens"
          [ngClass]="{'input-error': myForm.get('what_happens')?.invalid && registerSubmitted}"></textarea>
        </div>

        <div>
          <label for="treatment" class="form-title">Diagnóstico:</label>
          <div class="w-100"></div>
          <textarea id="diagnostic" formControlName="diagnostic"
          [ngClass]="{'input-error': myForm.get('diagnostic')?.invalid && registerSubmitted}"
          ></textarea>
        </div>

        <div>
          <label for="treatment" class="form-title">Tratamiento:</label>
          <div class="w-100"></div>
          <textarea id="treatment" formControlName="treatment"
          [ngClass]="{'input-error': myForm.get('treatment')?.invalid && registerSubmitted}"
          ></textarea>
        </div>

        <div>
          <label for="revision" class="form-title">Revisión:</label>
          <div class="w-100"></div>
          <input type="text" id="revision" formControlName="revision"
          [ngClass]="{'input-error': myForm.get('revision')?.invalid && registerSubmitted}">
        </div>

        <div class="mt-3 d-flex justify-content-end">
          <button class="btn-update-document" (click)="onSubmit()"> Guardar </button>
        </div>

    </form>
  </div>

