<div class="card cascading-right login-container">
  <div class="card-body p-4 shadow-5 text-center">
    <form [formGroup]="passwordForm">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="email"> Correo electrónico </label>
        <input type="email" id="email" class="form-control" formControlName="email" />
      </div>

      <!-- Submit button -->
      <button type="button" class="btn-update-document" (click)="resetPassword()">
        Restablecer contraseña
      </button>

      <!-- Link -->
      <div class="form-check forgotten-password">
        <a (click)="goBack()"> Volver a la página de Inicar Sesión </a>
      </div>

    </form>
  </div>
</div>
