@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* row-gap: 1rem; */
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .card::before {
    content: "";
    position: absolute;
    top: -50px;
    height: 0;
    width: 150%;
    background-color: #1369ce;
    z-index: -1;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.container .card {
    width: 220px;
    height: 275px;
    overflow: hidden;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    border: none;
    box-shadow: 5px 5px 10px #1f1f1fa8,
                -5px -5px 10px #1f1f1fa8;
}

.container .card .img-container {
    width: 110px;
    height: 110px;
    transition: all 0.5s ease-in-out;
}

.container .card:hover .img-container {
    border: 10px solid #1369ce;
}

.container .card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.container .card:hover .img-container img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.8);
}

.container .card .h3 {
    margin-bottom: 5px !important;
    font-size: var(--font6);
    font-weight: 600;
    pointer-events: none;
    text-align: center;
}

.container .card .designation {
    font-size: 0.85rem;
    letter-spacing: 2px;
    pointer-events: none;
}

