<div class="component-container" *ngIf="showInfo">
  <div class="w-100 d-flex justify-content-between mb-2">
    <i class="fa-solid fa-circle-chevron-left" (click)="goBack()"></i>
    <i class="fa-solid fa-circle-xmark" (click)="close()"></i>
  </div>

  <div class="row g-3 p-2">
    <span class="col-12 col-sm-6 col-md-4 col-xl-3">
      <span class="span-title"> Nombre y apellidos: </span>
      <div class="w-100"></div>
      <span class="ms-2"> {{ userData?.name + ' ' + userData?.surname}} </span>
    </span>
    <span class="col-12 col-sm-6 col-md-4 col-xl-3">
      <span class="span-title"> DNI: </span>
      <div class="w-100"></div>
      <span class="ms-2"> {{ userData?.dni}} </span>
    </span>
    <span class="col-12 col-sm-6 col-md-4 col-xl-3">
      <span class="span-title"> Fecha de nacimiento: </span>
      <div class="w-100"></div>
      <span class="ms-2"> {{ userData?.birth_date | date:'dd/MM/yyyy' }} </span>
    </span>
    <span class="col-12 col-sm-6 col-md-4 col-xl-3">
      <span class="span-title"> Nº Expdiente: </span>
      <div class="w-100"></div>
      <span class="ms-2"> {{ userData?.case_number }} </span>
    </span>
    <span class="col-12 col-sm-6 col-md-4 col-xl-3">
      <span class="span-title"> Custodia: </span>
      <div class="w-100"></div>
      <span class="ms-2"> {{ userData?.custody?.name }}</span>
    </span>
    <span class="col-12 col-sm-6 col-md-4 col-xl-3">
      <span class="span-title"> Fecha de Ingreso: </span>
      <div class="w-100"></div>
      <span class="ms-2"> {{ userData?.admission_date | date:'dd/MM/yyyy' }}</span>
    </span>
  </div>

  <div class="container-fluid px-0 py-3">
    <section class="">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
        <ng-container *ngFor="let item of folderItems">
          <div>
            <div class="card folder-card" (click)="goToFolder(item.component)">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex justify-content-between">
                    <div class="align-self-center">
                      <i class="{{ item.icon }} folder-icon"></i>
                    </div>
                    <div class="media-body text-right">
                      <span class="folder-name"> {{ item.name }} </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </div>
</div>
