/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

:root {
  --dark-color: #333333;
  --white-color: #FFFFFF;
  --white-color-opc07: rgba(255, 255, 255, 0.7);

  --main-color: #00A07C;
  --secondary-color: #3693CE;
  --tertiary-color: #88D1BD;
  --quaternary-color: #BACDE7;

  --error-color: #F15D5D;
  --success-color: #7FB77F;
  --warning-color: #F9D46D;

  --sixteenth-color: #495057;
  --sixth-color: #E2E2E2;

  --primary-color-opc05: rgb(51, 51, 51, 0.5);
  --fourth-color: #9AA0AC;
  --fifth-color: #818181;
  --eighth-color: #9598A7;
  --tenth-color: #ECEFF1;
  --eleventh-color: #B2B6BD;
  --fifteenth-color: #CFCFCF;
  --seventeenth-color: #E5E5E5;

  --font1: 10px;
  --font2: 12px;
  --font3: 14px;
  --font4: 16px;
  --font5: 18px;
  --font6: 20px;
  --font7: 22px;
  --font8: 24px;
  --font9: 26px;
  --font10: 30px;
  --font11: 35px;
  --font12: 40px;
  --font13: 45px;

  --fontWeight300: 300;
  --fontWeight400: 400;
  --fontWeight600: 600;
  --fontBold: bold;
}

ion-popover {
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white;
  --width: 750px;
  --height:
}


.pointer {
  cursor: pointer;
}

.btn-main {
  background-color: var(--main-color);
  color: var(--white-color);
}

.btn-main:hover {
  background-color: var(--white-color);
  color: var(--main-color);
  border: solid 1px var(--main-color);
}

.btn-update-document {
  border: solid 1px var(--secondary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  font-weight: var(--fontWeight600);
  padding: 0.75rem 2.5rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
}

.btn-update-document:hover {
  border: solid 1px var(--white-color);
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.pdf-file {
  display: flex;
  align-items: center;
  font-size: var(--font3);
  gap: 10px;
  margin-bottom: 0.75rem;
}

.pdf-icon {
  font-size: var(--font8);
  color: var(--secondary-color);
}


.input-error{
  border-color: red;
}

.fa-circle-chevron-left, .fa-circle-xmark{
  color: var(--secondary-color);
  font-size: var(--font6);
  cursor: pointer;
}

.footer-text {
  font-size: var(--font3);
  color: var(--dark-color);
}

html, body {
  height: 100%;
}

.navbar {
  display: contents;
}

.navbar .container-fluid {
  margin-block: 0.75rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-inline: 1.5rem;
  height: 80px;
}

.header-img-logo {
  display: inline-flex;
  text-decoration: none;
  max-width: 120px;
}

.main-container {
  min-height: calc(100% - 230px); /* 100px es la altura del footer */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 1.5rem;
}

.main-container-components {
  min-height: calc(100% - 230px); /* 100px es la altura del footer */
  display: flex;
  justify-content: center;
}

footer {
  height: 150px;
  width: 95%;
  margin-inline: auto;
}

ion-content {
  padding-bottom: 100px; /* altura del footer */
}

.main-sidebar {
  width: 225px;
  left: 0;
  top: 100px;
  bottom: 0;
  padding: 20px;
}

.main-components-container {
  flex: 1;
  padding-block: 20px;
  padding-inline: 1rem;
}

.rrss-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  padding-top: 0.25rem;
}

.rrss-icon {
  font-size: 30px;
  color: var(--secondary-color);
}

.copy-right {
  font-size: var(--font3);
  text-align: center;
  color: var(--dark-color);
  margin-top: 0.25rem;
}

.component-container {
  padding-inline: 1rem;
}

.main-title {
  font-size: var(--font9);
  font-weight: var(--fontWeight400);

  margin-top: 0;
}

.sub-title {
  font-size: var(--font6);

  margin-top: 0;
}

.form-check-input {
  margin-right: 0.5rem;
}

.loader-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  position: relative;
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: var(--white-color-opc07);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 48px;
  height: 48px;
  border: 5px solid var(--white-color);
  border-bottom-color: var(--main-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 1;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.media-table {
  width: 75%;
  margin-inline: auto;
}

input[type="text"],
textarea {
  width: 100%;
}

textarea {
  height: 90px;
  padding: 0.5rem;
}

.form-title{
  font-weight: var(--fontWeight600);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



@media only screen and (max-width: 768px) {

  .header-img-logo {
    display: inline-flex;
    text-decoration: none;
    max-width: 100px;
  }

  .media-table {
    width: 100%;
    margin-inline: auto;
  }

}

@media only screen and (max-width: 576px) {

  .header-img-logo {
    display: inline-flex;
    text-decoration: none;
    max-width: 80px;
  }

  .media-table {
    width: 100%;
    margin-inline: auto;
  }

}
