/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --main-color: #FE5000;
  --primary-color: #333333;
  --primary-color-opc05: rgb(51, 51, 51, 0.5);
  --secondary-color: #F6F8F9;
  --third-color: #FFFFFF;
  --third-color-opc07: rgba(255, 255, 255, 0.7);
  --fourth-color: #9AA0AC;
  --fifth-color: #818181;
  --sixth-color: #E2E2E2;
  --seventh-color: #4498D9;
  --eighth-color: #9598A7;
  --ninth-color: #363434;
  --tenth-color: #ECEFF1;
  --eleventh-color: #B2B6BD;
  --twelfth-color: #F15D5D;
  --thirteenth-color: #7FB77F;
  --fourteenth-color: #F9D46D;
  --fifteenth-color: #CFCFCF;
  --sixteenth-color: #495057;
  --seventeenth-color: #E5E5E5;

  --font1: 10px;
  --font2: 12px;
  --font3: 14px;
  --font4: 16px;
  --font5: 18px;
  --font6: 20px;
  --font7: 22px;
  --font8: 24px;
  --font9: 26px;
  --font10: 30px;
  --font11: 35px;
  --font12: 40px;
  --font13: 45px;

  --fontWeight300: 300;
  --fontWeight400: 400;
  --fontWeight600: 600;
  --fontBold: bold;
}

.footer-text {
  font-size: var(--font3);
  color: var(--primary-color);
}

html, body {
  height: 100%;
}

.navbar {
  display: contents;
}

.navbar .container-fluid {
  margin-block: 0.75rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-inline: 1.5rem;
  height: 80px;
}

.header-img-logo {
  display: inline-flex;
  text-decoration: none;
  max-width: 120px;
}

.main-container {
  min-height: calc(100% - 230px); /* 100px es la altura del footer */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 1.5rem;
}

.main-container-components {
  min-height: calc(100% - 230px); /* 100px es la altura del footer */
  display: flex;
  justify-content: center;
  margin-inline: 1.5rem;
}

footer {
  height: 150px;
  width: 95%;
  margin-inline: auto;
}

ion-content {
  padding-bottom: 100px; /* altura del footer */
}

.main-sidebar {
  width: 225px;
  left: 0;
  top: 100px;
  bottom: 0;
  padding: 20px;
}

.main-components-container {
  flex: 1;
  padding-block: 20px;
  padding-inline: 1rem;
}

.rrss-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  padding-top: 0.25rem;
}

.rrss-icon {
  font-size: 30px;
  color: rgb(29, 163, 216);
}

.copy-right {
  font-size: var(--font3);
  text-align: center;
  color: var(--primary-color);
  margin-top: 0.25rem;
}


.main-title {
  font-size: var(--font9);
  font-weight: var(--fontWeight400);

  margin-top: 0;
}

.sub-title {
  font-size: var(--font6);

  margin-top: 0;
}

.form-check-input {
  margin-right: 0.5rem;
}

.loader-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  position: relative;
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: var(--third-color-opc07);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 48px;
  height: 48px;
  border: 5px solid var(--third-color);
  border-bottom-color: var(--main-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 1;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 768px) {

  .header-img-logo {
    display: inline-flex;
    text-decoration: none;
    max-width: 100px;
  }

}

@media only screen and (max-width: 576px) {

  .header-img-logo {
    display: inline-flex;
    text-decoration: none;
    max-width: 80px;
  }

}
