<ion-content [fullscreen]="true">

  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <a href="/" class="header-img-logo link-body-emphasis">
        <img src="../../assets/logo/logo-fsyc.png" alt="lgo-fsys">
      </a>
      <span *ngIf="loading" class="main-title me-2 d-none d-lg-flex"> {{ userName }} </span>

      <button class="navbar-toggler d-lg-none" (click)="open(content)"> <i class="fa-solid fa-bars"></i> </button>

      <ng-template #content let-offcanvas>
        <div class="offcanvas-header">
          <span class="secondary-title me-2"> {{ userName }} </span>
          <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
          <div class="main-sidebar flex-shrink-0">

            <ul class="list-unstyled ps-0">
              <ng-container *ngFor="let menuItem of menuItems">
                <li class="mb-1">
                  <ng-container *ngIf="menuItem.pages">
                    <button class="btn btn-collapse collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+ menuItem.value + 'collapse'" aria-expanded="false">
                      <i [ngClass]="menuItem.icon"></i>
                      {{ menuItem.name }}
                    </button>
                    <div class="collapse" [attr.id]="menuItem.value + 'collapse'">
                      <ul class="container-toggle">
                        <li *ngFor="let subpage of menuItem.pages">
                          <a class="btn-toggl" (click)="goTo(subpage.value); offcanvas.close('Close click')"> {{ subpage.name }} </a>
                        </li>
                      </ul>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!menuItem.pages">
                    <button class="btn btn-collapse" (click)="goTo(menuItem.value); offcanvas.close('Close click')">
                      <i [ngClass]="menuItem.icon"></i>
                      {{ menuItem.name }}
                    </button>
                  </ng-container>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </ng-template>
    </div>
  </nav>


  <div class="main-container-components">
    <div class="main-sidebar flex-shrink-0 d-none d-lg-flex">
      <ul class="list-unstyled ps-0">
        <ng-container *ngFor="let menuItem of menuItems">
          <li>
            <ng-container *ngIf="menuItem.pages">
              <button class="btn btn-collapse collapsed" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#'+ menuItem.value + 'collapse'"
                [attr.aria-expanded]="menuItem.value === activeCollapse ? 'true' : 'false'"
                (click)="toggleCollapse(menuItem.value); selectItem(menuItem.value);"
                [ngClass]="{'active-button': menuItem.value === activeMenuItem}">
                <i [ngClass]="menuItem.icon"></i>
                {{ menuItem.name }}
              </button>
              <div class="collapse" [attr.id]="menuItem.value + 'collapse'"
                [ngClass]="{'show': menuItem.value === activeCollapse && activeSubpage === null }">
                <ul class="container-toggle">
                  <li class="d-flex align-items-center" *ngFor="let subpage of menuItem.pages">
                    <a class="btn-toggl" (click)="goTo(subpage.value); selectSubpage(subpage.value); selectItem(menuItem.value)"> {{ subpage.name }} </a>
                  </li>
                </ul>
              </div>
            </ng-container>
            <ng-container *ngIf="!menuItem.pages">
              <button class="btn btn-collapse" (click)="goTo(menuItem.value); selectItem(menuItem.value)"
              [ngClass]="{'active-button': menuItem.value === activeMenuItem}">
                <i [ngClass]="menuItem.icon"></i>
                {{ menuItem.name }}
              </button>
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="main-components-container">
      <app-main-component class="full-width-component" *ngIf="selectedComponent === 'main'"></app-main-component>
      <app-user-register class="full-width-component" *ngIf="selectedComponent === 'user-register'"></app-user-register>
      <app-user-management class="full-width-component" *ngIf="selectedComponent === 'user-management'"></app-user-management>
      <app-nna-main class="full-width-component" *ngIf="selectedComponent === 'nna'"></app-nna-main>
      <app-main-individual-nna class="full-width-component" *ngIf="selectedComponent === 'main-individual-nna'"></app-main-individual-nna>
      <app-expedient class="full-width-component" *ngIf="selectedComponent === 'nna-expedient'"></app-expedient>
      <app-healthcare class="full-width-component" *ngIf="selectedComponent === 'nna-healthcare'"></app-healthcare>
      <app-education class="full-width-component" *ngIf="selectedComponent === 'nna-education'"></app-education>
      <app-objectives class="full-width-component" *ngIf="selectedComponent === 'nna-objectives'"></app-objectives>
      <app-calendar class="full-width-component" *ngIf="selectedComponent === 'calendar'"></app-calendar>
      <app-foro class="full-width-component" *ngIf="selectedComponent === 'foro'"></app-foro>
      <app-individual-post class="full-width-component" *ngIf="selectedComponent === 'individual-post'"></app-individual-post>
      <app-paid class="full-width-component" *ngIf="selectedComponent === 'paid'"></app-paid>
      <app-paid-management class="full-width-component" *ngIf="selectedComponent === 'paid-management'"></app-paid-management>
      <app-my-profile class="full-width-component" *ngIf="selectedComponent === 'my-profile'"></app-my-profile>
    </div>
  </div>

  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-1">
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link footer-text px-2">About</a></li>
    </ul>

    <ul class="nav rrss-container">
      <li class=""><a class="rrss-icon" href="https://www.twitter.com/fundsalcom"><i class="fa fa-twitter"></i></a></li>
      <li class=""><a class="rrss-icon" href="https://www.instagram.com/fundsalcom/"><i class="fa fa-instagram"></i></a></li>
      <li class=""><a class="rrss-icon" href="https://www.facebook.com/fundsalcom"><i class="fa fa-facebook"></i></a></li>
      <li class=""><a class="rrss-icon" href="https://www.linkedin.com/company/fundacion-salud-y-comunidad"><i class="fa fa-linkedin"></i></a></li>
      <li class=""><a class="rrss-icon" href="https://www.youtube.com/user/fsyc"><i class="fa fa-youtube"></i></a></li>
    </ul>
    <p class="copy-right">&copy; 2023 Fundación Salud y Comunidad </p>
  </footer>
</ion-content>
