.header-md::after {
  border-bottom: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btn-collapse {
  display: inline-flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.container-toggle {
  list-style: none;
  padding-bottom: 0.25rem;
  cursor: pointer;
}

.btn-toggl {
  display: inline-flex;
  text-decoration: none;
  padding-block: 0.25rem;
  color: var(--dark-color);
}

#offcanvasNavbar {
  width: 250px;
}
