<div class="loader-parent" *ngIf="isLoading">
  <div class="loader-container">
    <span class="loader"></span>
  </div>
</div>
<div class="col-12">
  <h1 class="main-title"> Nuevo usuario: </h1>
</div>

<form class="container needs-validation" [formGroup]="registerForm"  novalidate>
    <div class="row">
        <div class="col-12 p-0">
            <div class="row gy-3">
                <div class="col-12 col-md-6 col-lg-4">
                    <label for="inputName" class="form-label mt-2">Nombre:</label>
                    <input type="text" class="form-control" id="inputName" formControlName="inputName" required>
                    <div class="invalid-feedback">Por favor, rellene el campo.</div>
                </div>
                <div class="col-12 col-md-6 col-lg-8">
                    <label for="inputSurname" class="form-label mt-2">Apellidos:</label>
                    <input type="text" class="form-control" id="inputSurname" formControlName="inputSurname" required>
                    <div class="invalid-feedback">Por favor, rellene el campo.</div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <label for="inputDNI" class="form-label mt-2">DNI:</label>
                    <input type="text" class="form-control" id="inputDNI" formControlName="inputDNI" required>
                    <div class="invalid-feedback">Por favor, rellene el campo.</div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <label for="inputTelefono" class="form-label mt-2">Teléfono:</label>
                    <input type="tel" class="form-control" id="inputTelefono" formControlName="inputPhone" required>
                    <div class="invalid-feedback">Por favor, rellene el campo.</div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <label for="inputEmail" class="form-label mt-2">Email:</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" formControlName="inputEmail" required>
                    <div class="invalid-feedback">Por favor, rellene el campo.</div>
                </div>
                <div class="col-12 col-md-7">
                    <label for="inputAddress" class="form-label mt-2">Dirección:</label>
                    <input type="text" class="form-control" id="inputAddress" formControlName="inputAddress" required>
                    <div class="invalid-feedback">Por favor, rellene el campo.</div>
                </div>
                <div class="col-12 col-md-4 col-lg-5">
                    <label for="inputProvincia" class="form-label mt-2">Provincia:</label>
                    <input type="text" class="form-control" id="inputProvincia" formControlName="inputProvincia" required>
                    <div class="invalid-feedback"> Por favor, seleccione una provincia. </div>
                </div>
                <div class="col-12 col-md-4">
                    <label for="inputMunicipio" class="form-label mt-2">Municipio:</label>
                    <input type="text" class="form-control" id="inputMunicipio" formControlName="inputMunicipio" required>
                    <div class="invalid-feedback">Por favor, rellene el campo.</div>
                </div>
                <div class="col-12 col-md-3">
                    <label for="inputCP" class="form-label mt-2">Código postal:</label>
                    <input type="text" class="form-control" id="inputCP" formControlName="inputCP" required>
                    <div class="invalid-feedback">Por favor, rellene el campo.</div>
                </div>
                <div class="col-12 col-md-6" id="catProfesional">
                    <label for="selectPefil" class="form-label mt-2">Categoría profesional: </label>
                    <select class="form-select" id="perfilProfesional" size="3" formControlName="profesionalCategory" required>
                        <option value="dir">Director/a</option>
                        <option value="trabajoSocial">Trabajadora/or Social</option>
                        <option value="psicologia">Psicólogo/a</option>
                        <option value="educacionSocial">Educadora/o Social</option>
                        <option value="integracionSocial">Integradora/o Social</option>
                        <option value="apoyoDomestico">Apoyo doméstico</option>
                        <option value="otroPerfil">Otro</option>
                    </select>
                    <div class="invalid-feedback">Por favor, seleccione un perfil profesional.</div>
                </div>
                <div class="col-12 col-md-6" id="recurso">
                    <label for="selectRecurso" class="form-label mt-2">Recurso: </label>
                    <select class="form-select" size="3" formControlName="centre" required>
                        <option value="camAltea">CAM Altea</option>
                        <option value="camCastell">CAM Castell</option>
                        <option value="camVerdaderI">CAM Verdader I</option>
                        <option value="camVerdaderII">CAM Verdader II</option>
                    </select>
                    <div class="invalid-feedback">Por favor, seleccione un recurso.</div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-4">
            <div class="d-grid gap-3 col-6 mx-auto">
                <button type="button" class="btn btn-primary" (click)="submitRegister()"> Registrar </button>
            </div>
        </div>
    </div>
</form>
